SWAGGER_APP_TITLE=UTNito chat core service
SWAGGER_APP_DESCRIPTION=UTNito chat core API
SWAGGER_APP_VERSION=1.0.0
SWAGGER_BASE_PATH=utn-chat-back
API_SECURITY_SCHEMA=jwt
API_SECURITY_SCHEMA_NAME=jwtAuth

APP_PORT=5001
APP_LOG_LEVEL=log
CORS_ALLOWED_ORIGIN=http://localhost:5300

DB_TYPE=sqlite
DB_DATABASE=./database/utnito_chat.db

AUTH_USERS_JSON=[{"userId":"user_carlos_gardel","username":"carlos.gardel","displayName":"Carlos Gardel","password":"123456","role":"STUDENT"}]
AUTH_APP_SALT=utnito-auth-salt
AUTH_TOKEN_EXPIRATION=1h
AUTH_REFRESH_TOKEN_EXPIRATION=1d

AI_PROVIDER=mock
